[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
ffmpeg = "*"
spleeter = "*"
flask = "*"
fuzzywuzzy = "*"
python-levenshtein = "*"
numpy = "==1.16.5"
python-dotenv = "*"
selenium-wire = "*"
webdriver-manager = "*"
pytube = "*"
selenium = "*"
ffprobe = "*"
ez-setup = "*"
setuptools = "*"
moviepy = "*"

[requires]
python_version = "3.6"
